<th:block sec:authorize="!isAuthenticated()">
	<th:block th:include="/_header"></th:block>     
		<div id="products" class="section wb px-0 pb-3" style="background-color:#f2f3f5;min-height:85%">
				<div class="container-fluid">
					<div class="section-title text-center">
						<h3 style="padding-top:5%">Products</h3>
						<p>Check out our products everyday!</p>
					</div>
					
					<div class="gallery-list row text-center d-flex justify-content-between">
						<th:block th:each="prodInfo : ${paginationProducts.list}">
							<div class="col-md-12 col-lg-4 col-sm-12 gallery-grid justify-content-center d-flex">
								<div class="gallery-single fix" style="width:fit-content">
									<img th:src="@{|/productImage?code=${prodInfo.code}|}" style="width: 375px; height:375px">
									<div class="img-overlay">
										<h3>Code: <span th:utext="${prodInfo.code}"></span>
										<br/> Name: <span th:utext="${prodInfo.name}"></span>
										<br/> Price: <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
										<br><a class="btn-slider hvr-rectangle-out animated fadeInDown" style="background-color:black;width:65%;color:white" th:href="@{|/buyProduct?code=${prodInfo.code}|}">BUY</a>
										</h3>								
									</div>
								</div>
							</div>
						</th:block>	
					</div>
				</div>
				<div th:if="${paginationProducts.totalPages > 1}" class="contact-form">
					<div class="text-center row justify-content-center">
						<th:block th:if="${T(Integer).parseInt(param.page[0]) != 1}">
							<a th:with="numPage = ${T(Integer).parseInt(param.page[0])}" th:href="@{|/productList?page=${numPage - 1}|}" class="sim-btn hvr-rectangle-out" style="height:50px;">Previous</a>
						</th:block>
						<th:block th:each="page: ${paginationProducts.navigationPages}">
							<a class="sim-btn hvr-rectangle-out" th:href="@{|/productList?page=${page}|}"  th:utext="${page}" style="width:50px;height:50px;"></a>
						</th:block>
						<th:block th:if="${T(Integer).parseInt(param.page) != paginationProducts.totalPages}">
							<a th:with="numPage = ${T(Integer).parseInt(param.page[0])}" th:href="@{|/productList?page=${numPage + 1}|}" class="sim-btn hvr-rectangle-out" style="height:50px;">Next</a>
						</th:block>
					</div>
				</div>
		</div>
	<th:block th:include="/_footer"></th:block>
</th:block>

<th:block sec:authorize="isAuthenticated()">
<th:block th:include="/_header"></th:block>
	    <div style="min-height:100%;background-color:#f2f3f5">
			<div class="container-fluid" style="background-color:#f2f3f5;padding-left:220px">
					<div class="section-title text-center">
						<h3 style="padding-top:10%;color:black;">Product List</h3>
					</div>
					<div class="row" style="min-height:100%;padding-bottom:10%;padding-left:15px">
						<div class="col-12" style="background-color: #f2f3f5;">
							<div class="table-responsive">
								<table class="table table-striped table-dark">
								<thead>
									<tr>
										<th class="text-center" scope="col">Code</th>
										<th class="text-center" scope="col">Name</th>
										<th class="text-center" scope="col">Price</th>
										<th class="text-center" scope="col">Image</th>
										<th class="text-center" scope="col" sec:authorize="hasRole('ROLE_MANAGER')">Option</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="prodInfo : ${paginationProducts.list}">
									<tr>
										<td class="text-center" style="vertical-align: sub;"><span th:utext="${prodInfo.code}"></span></td>
										<td class="text-center" style="vertical-align: sub;"><span th:utext="${prodInfo.name}"></span></td>
										<td class="text-center" style="vertical-align: sub;"><span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span></td>
										<td class="text-center p-0" style="vertical-align: sub;"><a th:href="@{|/productImage?code=${prodInfo.code}|}" data-rel="prettyPhoto[gal]" class="global-radius"><img th:src="@{|/productImage?code=${prodInfo.code}|}" style="width:40px;height:40px"></a></td>
										<td class="text-center" style="vertical-align: sub;"><a style="color:antiquewhite" th:href="@{|/admin/product?code=${prodInfo.code}|}" sec:authorize="hasRole('ROLE_MANAGER')">Edit</a></td>
									</tr>
									</th:block>
								</tbody>
								</table>
							</div>
							<div th:if="${paginationProducts.totalPages > 1}" class="contact-form">
								<div class="text-center row justify-content-center">
									<th:block th:if="${T(Integer).parseInt(param.page[0]) != 1}">
										<a th:with="numPage = ${T(Integer).parseInt(param.page[0])}" th:href="@{|/productList?page=${numPage - 1}|}" class="sim-btn hvr-rectangle-out" style="height:50px;">Previous</a>
									</th:block>
									<th:block th:each="page: ${paginationProducts.navigationPages}">
										<a class="sim-btn hvr-rectangle-out" th:href="@{|/productList?page=${page}|}"  th:utext="${page}" style="width:50px;height:50px;"></a>
									</th:block>
									<th:block th:if="${T(Integer).parseInt(param.page) != paginationProducts.totalPages}">
										<a th:with="numPage = ${T(Integer).parseInt(param.page[0])}" th:href="@{|/productList?page=${numPage + 1}|}" class="sim-btn hvr-rectangle-out" style="height:50px;">Next</a>
									</th:block>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<th:block th:include="/_footer"></th:block>
</th:block>