<th:block th:include="/_header"></th:block>

<div style="min-height:100%;background-color:#f2f3f5">
   <div class="container-fluid" style="background-color:#f2f3f5;padding-left:220px">
      <div class="section-title text-center">
			<h3 style="padding-top:10%;color:black;">Upload or Edit product</h3>
		</div>


      <div class="">
         <form th:object="${productForm}" th:action="@{/admin/product}" method="POST" enctype="multipart/form-data" style="width:100%">
            <div class="row" style="min-height:100%;padding-bottom:10%;padding-left:15px">
               <div class="col-12" style="background-color: #f2f3f5;">
                  <div class="table-responsive">
                     <table class="table table-striped table-dark">
                        <thead>
                           <tr>
                              <th class="text-center" scope="col">Code</th>
                              <th class="text-center" scope="col">Name</th>
                              <th class="text-center" scope="col">Price</th>
                              <th class="text-center" scope="col">Upload Image</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td class="text-center" style="color:red;vertical-align: sub;">
                                 <input class="form-control" th:field="*{newProduct}" type="hidden" required>
                                 <input class="form-control" th:if="${productForm.newProduct}" type="text" th:field="*{code}" required>
                                 <th:block th:if="${!productForm.newProduct}">
                                    <span th:utext="${productForm.code}"></span>
                                    <input class="form-control" type="hidden" th:field="*{code}">
                                 </th:block>
                              </td>
                              <td class="text-center" style="vertical-align: sub;"><input class="form-control" th:field="*{name}" required></td>
                              <td class="text-center" style="vertical-align: sub;"><input class="form-control" th:field="*{price}" required></td>
                              <td class="text-center" style="vertical-align: sub;"><input class="form-control" type="file" th:field="*{fileData}"></td>
                           </tr>
                           <tr>
                              <td style="vertical-align: sub;" class="text-center"><span th:if="${#fields.hasErrors('code')}">Duplicated Code</span></td>
                              <td></td>
                              <td style="vertical-align: sub;" class="text-center"><span th:if="${#fields.hasErrors('price')}">invalid Price</span></td>
                              <td>Optional</td>
                           </tr>
                        </tbody>
                     </table>
                     <div class="col-lg-12 text-center">
                        <div id="success"></div>
                        <button class="sim-btn hvr-rectangle-out" type="submit">Submit</button>
                     </div>
                  </div>
               </div>
				</div>
			</form>
      </div>
   </div>
</div> 
<th:block th:include="/_footer"></th:block>