<th:block th:include="/_header"></th:block>
<div id="contact" class="section db" style="min-height:85%">
	<div class="container-fluid">
		<div class="section-title text-center">
			<h3 style="padding-top:10%">Customer Information</h3>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="contact_form">
					<form method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" placeholder="Name" th:field="*{name}">
									<p class="help-block text-danger"></p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" type="email" placeholder="Email"
										required="required" th:field="*{email}">
									<p class="help-block text-danger"></p>
								</div>
                     </div>
                     <div class="col-md-6">
								<div class="form-group">
									<input class="form-control" placeholder="Phone number"
										required="required" th:field="*{phone}">
									<p class="help-block text-danger"></p>
								</div>
                     </div>
                     <div class="col-md-6">
								<div class="form-group">
									<input class="form-control" placeholder="Address"
										required="required" th:field="*{address}">
									<p class="help-block text-danger"></p>
								</div>
                     </div>
                     
							<div class="col-lg-12 text-center">
								<div id="success"></div>
								<button class="sim-btn hvr-rectangle-out" data-text="Send Message" type="submit"
									value="Submit">Submit</button>
							</div>
						</div>
					</form>
                </div>
            </div>
        </div>
    </div>
</div> 
<th:block th:include="/_footer"></th:block>
