<th:block th:include="/_header"></th:block>
<div class="container-fluid justify-content-center text-center" style="min-height:85%; background-color:#f2f3f5">
      <h3 style="padding-top:20%">Thank you for Order</h3>
      Your order number is: <span th:utext="${lastOrderedCart.orderNum}"></span>
</div>     
<th:block th:include="/_footer"></th:block>
