<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" style="max-width: 100%;overflow-x: hidden;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   

    <meta name="viewport" content="width=device-width, initial-scale=1.0">	

    <title>Deluxe Interior - Responsive HTML5 OnePage Template</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" th:href="@{/deluxe-interior/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/deluxe-interior/style.css}">
    <link rel="stylesheet" th:href="@{/deluxe-interior/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/deluxe-interior/css/custom.css}">
    <link rel="stylesheet" th:href="@{/deluxe-interior/custom.css}">
    <link rel="stylesheet" th:href="@{/styles.css}">
	  <script th:src="@{/deluxe-interior/js/modernizr.js}"></script>

</head>
<th:block sec:authorize="!isAuthenticated()">
<body id="page-top" class="politics_version" style="max-width: 100%;overflow-x: hidden;">

    <div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>  
		</div>
    </div>
	

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://digidinos.com" style="color: black">
          DIGI DINOS
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" th:href="@{/}" sec:authorize="!isAuthenticated()">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" th:href="@{/productList?page=1}" sec:authorize="!isAuthenticated()">PRODUCT LIST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" th:href="@{/shoppingCart}" sec:authorize="!isAuthenticated()">MY CART</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" th:href="@{/admin/login}" sec:authorize="!isAuthenticated()">LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" th:href="@{/admin/accountInfo}" sec:authorize="isAuthenticated()">PROFILE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" th:href="@{/admin/logout}" sec:authorize="isAuthenticated()">LOG OUT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</th:block>

<th:block sec:authorize="isAuthenticated()">
<body id="page-top" class="politics_version" style="max-width:100%;overflow-x:hidden;height:100%;background-color: #f2f3f5;">
    <div class="sidebar-container pt-0">
      <div class="sidebar-logo">
        DIGI DINOS
      </div>
      <ul class="sidebar-navigation">
        <li class="header">DashBoard</li>
        <li>
          <a th:href="@{/productList?page=1}">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Product List
          </a>
        </li>
        <li sec:authorize="hasRole('ROLE_MANAGER')">
          <a th:href="@{/admin/product?isupdated=false}">
            <i class="fa fa-cart-plus" aria-hidden="true"></i> Add Product
          </a>
        </li>
        <li>
          <a th:href="@{/admin/orderList?page=1}">
            <i class="fa fa-tags" aria-hidden="true"></i> Order List
          </a>
        </li>
        <li class="header">Profile</li>
        <li>
          <a th:href="@{/admin/accountInfo}">
            <i class="fa fa-user" aria-hidden="true"></i> Your Profile
          </a>
        </li>
        <li>
          <a th:href="@{/admin/logout}">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Log out
          </a>
        </li>
        
      </ul>
    </div>
</th:block>























