<th:block th:include="/_header"></th:block>
<div class="container-fluid" style="background-color:#f2f3f5;">
	<div class="row justify-content-center" style="min-height:100%;padding-top:15%;padding-bottom:10%;padding-left:220px">
		<div class="col-lg-4 col-sm-12">
			<div class="pricingTable" style="padding-top:10%;height:100%">
				<div class="pricingTable-header">
					<h3 class="title">Account Info</h3>
				</div>
				<ul class="pricing-content">
					<li>User Name: <span th:utext="${#request.userPrincipal.name}"></span></li>
					<li th:each="auth : ${userDetails.authorities}" th:utext="${auth.authority}"></li>
				</ul>
				<a class="hvr-rectangle-out pricingTable-signup" th:href="@{/productList?page=1}">Dashboard</a>
		    </div>
		</div>
	</div>
</div>
<th:block th:include="/_footer"></th:block>
       