<th:block th:include="/_header"></th:block>
<div id="contact" class="section db" style="height:85%">
	<div class="container-fluid">
		<div class="section-title text-center">
			<h3 style="padding-top:15%">Login for manager and employee</h3>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="contact_form">
					<form method="POST" th:action="@{/j_spring_security_check}">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" placeholder="Username" name="userName">
									<p class="help-block text-danger"></p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" type="password" placeholder="Passowrd"
										required="required" name="password">
									<p class="help-block text-danger"></p>
								</div>
							</div>
							<div class="col-lg-12 text-center">
								<div id="success"></div>
								<button class="sim-btn hvr-rectangle-out" data-text="Send Message" type="submit"
									value="Login">Submit</button>
							</div>
						</div>
						<th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
					             <div th:if= "${#request.getParameter('error') == 'true'}"
					                style="color: red; margin: 10px 0px;">
					                Login Failed!!!<br /> Reason :
					                <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
					             </div>
						</th:block>
					         <span class="error-message" th:utext="${error}"></span>
					</form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="/_footer"></th:block>