<th:block th:include="/_header"></th:block>
	    <div style="min-height:100%;background-color:#f2f3f5">
			<div class="container-fluid" style="background-color:#f2f3f5;padding-left:220px">
					<div class="section-title text-center">
                  <h5 style="padding-top:10%;color:black;">Customer Info:
                  <br>Name: <span th:utext="${orderInfo.customerName}"></span>
                  <br>Email: <span th:utext="${orderInfo.customerEmail}"></span>
                  <br>Phone: <span th:utext="${orderInfo.customerPhone}"></span>
                  <br>Address: <span th:utext="${orderInfo.customerAddress}"></span>
                  <br><br>Order Summary:
                  <br>Total:<span class="total" th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}"></span>
                  </h5>
					</div>
					<div class="row" style="min-height:100%;padding-bottom:10%;padding-left:15px">
						<div class="col-12" style="background-color: #f2f3f5;">
							<div class="table-responsive">
								<table class="table table-striped table-dark">
								<thead>
									<tr>
										<th class="text-center" scope="col">Product Code</th>
										<th class="text-center" scope="col">Product Name</th>
										<th class="text-center" scope="col">Quantity</th>
										<th class="text-center" scope="col">Price</th>
                              <th class="text-center" scope="col">Amount</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="orderDetailInfo : ${orderInfo.details}">
									<tr>
										<td class="text-center" style="vertical-align: sub;"><span th:utext="${orderDetailInfo.productCode}"></span></td>
										<td class="text-center" style="vertical-align: sub;"><span th:utext="${orderDetailInfo.productName}"></span></td>
										<td class="text-center" style="vertical-align: sub;"><span th:utext="${orderDetailInfo.productName}"></span></td>
                              <td class="text-center" style="vertical-align: sub;"><span th:utext="${orderDetailInfo.quantity}"></span></td>
                              <td class="text-center" style="vertical-align: sub;"><span th:utext="${#numbers.formatDecimal(orderDetailInfo.amount,3,2,'COMMA')}"></span></td>
									</tr>
									</th:block>
								</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
<th:block th:include="/_footer"></th:block>